apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "csv-to-yaml-app.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "csv-to-yaml-app.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "csv-to-yaml-app.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "csv-to-yaml-app.selectorLabels" . | nindent 8 }}
    spec:
      containers:
        - name: {{ .Chart.Name | lower }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.service.targetPort }}
              protocol: TCP
          env:
            - name: UPLOAD_FOLDER
              value: {{ .Values.env.uploadFolder }}
            - name: SSH_HOST
              value: {{ .Values.env.sshHost | default "" }}
            - name: ENABLE_SSH_DEPLOYMENT
              value: {{ .Values.env.enableSshDeployment | default "false" | quote }}
            - name: AIM_HOST
              value: {{ .Values.env.aimHost | default "localhost:30088" }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          volumeMounts:
            - name: instance
              mountPath: /app/instance
            - name: uploads
              mountPath: {{ .Values.env.uploadFolder }}
            - name: nfs-ts-framework-pv
              mountPath: /uploads-nfs
              subPath: frontend_uploads
            - name: ssh-key
              mountPath: /root/.ssh
              readOnly: true
      volumes:
        - name: instance
          persistentVolumeClaim:
            claimName: {{ include "csv-to-yaml-app.fullname" . }}-instance-pvc
        - name: uploads
          persistentVolumeClaim:
            claimName: {{ include "csv-to-yaml-app.fullname" . }}-pvc
        - name: nfs-ts-framework-pv
          persistentVolumeClaim:
            claimName: nfs-ts-framework-pvc
        - name: ssh-key
          secret:
            secretName: ssh-key-secret
            defaultMode: 0600