apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ include "csv-to-yaml-app.fullname" . }}-instance-pvc
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "csv-to-yaml-app.labels" . | nindent 4 }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  {{- if .Values.pvc.storageClassName }}
  storageClassName: {{ .Values.pvc.storageClassName }}
  {{- end }}
