apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ include "csv-to-yaml-app.fullname" . }}-pvc
  namespace: {{ .Release.Namespace }}
spec:
  accessModes:
{{ toYaml .Values.pvc.accessModes | indent 4 }}
  resources:
    requests:
      storage: {{ .Values.pvc.storage }}
{{- if .Values.pvc.storageClassName }}
  storageClassName: {{ .Values.pvc.storageClassName }}
{{- end }}