<!doctype html>
<html>
    <head>
      <title>{{ title }} - CSV to YAML Converter</title>
    </head>
    <body>
        <div>
            CSV to YAML Converter:
            <a href="{{ url_for('routes.index') }}">Home</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('auth.login') }}">Login</a>
            {% else %}
            <a href="{{ url_for('routes.experiment') }}">New Experiment</a>
            <a href="{{ url_for('routes.deployment_config') }}">Run Experiment</a>
            <a href="{{ url_for('auth.logout') }}">Logout</a>
            {% endif %}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
