# Global settings for the application
replicaCount: 1

image:
  repository: kerollosadel/csv-to-yaml-app
  pullPolicy: Never
  tag: "v6"

# Service configuration
service:
  type: NodePort
  port: 80
  targetPort: 5000
  nodePort: 30888
  
# Persistent Volume Claim configuration
pvc:
  accessModes:
    - ReadWriteMany
  storage: 1Gi
  # If needed, specify a storage class, otherwise the default will be used.
  # storageClassName: standard

# Resource requests and limits
resources:
  requests:
    cpu: "100m"
    memory: "128Mi"
  limits:
    cpu: "500m"
    memory: "512Mi"

# Environment variables
env:
  uploadFolder: /uploads
  sshHost: ""  # Leave empty to disable SSH deployment
  enableSshDeployment: false  # Set to true for production
  aimHost: "localhost:30088"  # Default Aim host

# Ingress configuration
ingress:
  enabled: true
  path: /
  pathType: Prefix
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
    nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
    nginx.ingress.kubernetes.io/proxy-body-size: "16m"

# Liveness and readiness probes for the application
livenessProbe:
  httpGet:
    path: /health
    port: http
readinessProbe:
  httpGet:
    path: /ready
    port: http

# This section is for setting up autoscaling more information can be found here: https://kubernetes.io/docs/concepts/workloads/autoscaling/
autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80

# Additional volumes on the output Deployment definition.
volumes: []
# - name: foo
#   secret:
#     secretName: mysecret
#     optional: false

# Additional volumeMounts on the output Deployment definition.
volumeMounts: []
# - name: foo
#   mountPath: "/etc/foo"
#   readOnly: true

nodeSelector: {}

tolerations: []

affinity: {}